h1{
  font-family: Segoe UI;
  padding-left:10px;
  color:#1E90FF;
}
div{
  width:200px;
  height:50px;
  margin:20px;
  color:#1E90FF;
  padding:6px;
  font-family:Segoe Script,微软雅黑;
}
/*#wgt{
  background-color:#3F7FBF;
  border:2px solid #C7CEE9;
}
#hgt{
  background-color:#58BF98;
  border:2px solid #CDEEE1;
}
.red{
  color: red;
}
#BMI{
  margin:50px;
}*/