/*h1{
  font-family: Segoe UI;
  padding-left:10px;
  color:#1E90FF;
}*/
div{

  margin-left:30px;
  margin-right:30px;
  padding:6px;
  font-family:Segoe Script,微软雅黑;
}
/*body {
  margin: 100px;
  display: flex;
}*/
ul{
  list-style-type: none;
}
/*#wgt{
  background-color:#3F7FBF;
  border:2px solid #C7CEE9;
}
#hgt{
  background-color:#58BF98;
  border:2px solid #CDEEE1;
}
.red{
  color: red;
}
#BMI{
  margin:50px;
}*/